<md-card class="mail">
  <h3><i class="fa fa-envelope-o"></i> Mails</h3>
  <p *ngIf="!mailList">
    Keine Mails
  </p>
  <md-list *ngIf="mailList">
    <div *ngFor="let item of mailList | slice:0:setting.maxCount">
      <md-list-item>
        <div *ngFor="let header of item.payload.headers">
          <div *ngIf="header.name == 'Date'">
            {{header.value | date:'dd.MM HH:mm'}}
          </div>
          <div *ngIf="header.name == 'Subject'">
            {{header.value | slice:0:40}}
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
      <md-divider></md-divider>
    </div>

  </md-list>
</md-card>
