<md-card class="mail">
  <p *ngIf="!mails">
    Keine Mails
  </p>
  <div *ngIf="mails" fxLayout="column" fxLayoutAlign="stretch stretch" fxLayoutGap="15px">
    <div *ngFor="let item of mails" fxLayout="column" fxLayoutAlign="stretch stretch" fxLayoutGap="3px">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex style="font-size: 90%;">{{item.from}}</div>
        <div fxFlex="130px" style="color:gray;font-size:90%; text-align: right">{{item.date | amTimeAgo}}</div>
      </div>
      <div>{{item.subject}}</div>
      <div style="font-size:80%; max-height: 32px; overflow: hidden; color:gray">{{item.snippet}}</div>
    </div>
  </div>
</md-card>
