<div fxLayout="row" fxLayoutAlign="stretch stretch">
  <div fxLayout="column" fxFlex="25%" fxLayoutGap="20px">
    <app-today></app-today>
    <app-weathercurrent></app-weathercurrent>
    <app-calendar-view></app-calendar-view>
    <app-news-view [settings]="{FeedUrl:'http://www.tagesschau.de/xml/rss2', MaxCount:5}"></app-news-view>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="ticket">
      <md-card>
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data={{ticket?.number}}">
        <md-card-content fxLayoutAlign="center center" style="font-size: 250%; margin: 40px">
          {{ticket?.number}}
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div fxLayout="column" fxFlex="25%" fxLayoutGap="20px">
    <app-weatherpreview></app-weatherpreview>
    <app-note></app-note>
    <app-mails></app-mails>
  </div>
</div>
