<div [class]="theme" fxLayout="row" fxLayoutAlign="stretch stretch">
  <div id="leftContainer" fxLayout="column" fxFlex="25%" fxLayoutGap="20px" *ngIf="mirror">
    <app-today></app-today>
    <div *ngFor="let widget of mirror | mirrorPipe:1" [hidden]="off">
      <app-widget-container [widget]="widget"></app-widget-container>
    </div>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <md-card class="ticketCard" *ngIf="ticket">
      <img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data={{ticket?.number}}">
      <md-card-content class="ticketNumber" fxLayoutAlign="center center" style="font-size: 250%; margin: 40px">
        {{ticket?.number}}
      </md-card-content>
    </md-card>
  </div>
  <div id="rightContainer" fxLayout="column" fxFlex="25%" fxLayoutGap="20px" *ngIf="mirror">
    <div *ngFor="let widget of mirror | mirrorPipe:2" [hidden]="off">
      <app-widget-container [widget]="widget"></app-widget-container>
    </div>
  </div>
</div>
