<md-card class="news">
  <h3>News</h3>
  <div *ngIf="feedRss">
    <h5 md-line>{{feedRss.feed.title}}</h5>
    <div fxLayout="column" fxLayoutAlign="stretch stretch" *ngFor="let items of feedRss.items">
      <div class="newsEntry">
        <div class="date">{{items.pubDate | date:'HH:mm'}}</div>
        <p class="title">{{items.title}}</p>
      </div>
      <md-divider></md-divider>
      <!--p class="date"> {{items.pubDate | date:'dd.MM.yyyy'}}</p>
      <p class="desc"> {{items.description}} </p-->
    </div>
  </div>
</md-card>
