.news {
  .newsEntry {
    margin: 10px;
  }
  .title {
    margin-top: 10px;
    //font-weight: bold;
  }
  .date {
    font-size: 120%;
    color: grey;
  }
  .desc {
    text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
  }
  p {
    margin: 2px;
  }
}
